In [7]:
import pandas as pd 
import numpy as np
from datetime import date

In [2]:
df = pd.read_csv('./trip.csv', error_bad_lines=False)
df.info()

/home/leen/data-visulization/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286857 entries, 0 to 286856
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            286857 non-null  int64
 1   starttime          286857 non-null  object
 2   stoptime           286857 non-null  object
 3   bikeid             286857 non-null  object
 4   tripduration       286857 non-null  float64
 5   from_station_name  286857 non-null  object
 6   to_station_name    286857 non-null  object
 7   from_station_id    286857 non-null  object
 8   to_station_id      286857 non-null  object
 9   usertype           286857 non-null  object
 10  gender             181557 non-null  object
 11  birthyear          181553 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 26.3+ MB

In [3]:
df.head(10)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
5,436,10/13/2014 10:34,10/13/2014 10:47,SEA00337,808.805,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1974.0
6,437,10/13/2014 11:35,10/13/2014 11:45,SEA00202,596.715,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1978.0
7,438,10/13/2014 11:35,10/13/2014 11:45,SEA00311,592.131,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1983.0
8,439,10/13/2014 11:35,10/13/2014 11:45,SEA00486,586.347,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Female,1974.0
9,440,10/13/2014 11:35,10/13/2014 11:45,SEA00434,587.634,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1958.0

# What is the average trip duration for a borrowed bicycle?

In [4]:
avg_trip_duration = df['tripduration'].mean()
avg_trip_duration

1178.2956753399776


# What’s the most common age of a bicycle-sharer?

In [5]:
common_age =  2021 - df['birthyear'].mode()
common_age

0    34.0
dtype: float64

# Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [9]:
df_weather = pd.read_csv('weather.csv')
# weather_df['Date'] = pd.to_datetime(weather_df['Date'], format= "%m/%d/%Y")
# weather_df.head(5)
avgWeather=df_weather.Precipitation_In.mean()
avgWeather

0.10506531204644412

In [10]:
median_Weather=df_weather.Precipitation_In.median()
median_Weather

0.0


What’s the average number of bikes at a given bike station?

In [13]:
station_df = pd.read_csv('station.csv')

print('average number of bikes at a given bike station')
station_df.groupby('name')['current_dockcount'].mean()

average number of bikes at a given bike station

name
12th Ave & E Denny Way                                                    16.0
12th Ave & E Mercer St                                                    16.0
12th Ave & E Yesler Way                                                    0.0
12th Ave & NE Campus Pkwy                                                 16.0
15th Ave E & E Thomas St                                                  16.0
15th Ave NE & NE 40th St                                                  16.0
1st Ave & Marion St                                                       20.0
2nd Ave & Blanchard St                                                    14.0
2nd Ave & Pine St                                                         18.0
2nd Ave & Spring St                                                       18.0
2nd Ave & Vine St                                                         16.0
3rd Ave & Broad St                                                        18.0
6th Ave & Blanchard St                                                    16.0
6th Ave S & S King St                                                     16.0
7th Ave & Union St                                                        20.0
9th Ave N & Mercer St                                                     18.0
Bellevue Ave & E Pine St                                                  14.0
Broadway and E Denny Way                                                  18.0
Burke Museum / E Stevens Way NE & Memorial Way NE                         14.0
Burke-Gilman Trail / NE Blakeley St & 24th Ave NE                         18.0
Cal Anderson Park / 11th Ave & Pine St                                    26.0
Children's Hospital / Sandpoint Way NE & 40th Ave NE                      24.0
City Hall / 4th Ave & James St                                            20.0
Dexter Ave & Denny Way                                                     0.0
Dexter Ave N & Aloha St                                                   18.0
E Blaine St & Fairview Ave E                                              18.0
E Harrison St & Broadway Ave E                                            20.0
E Pine St & 16th Ave                                                      18.0
Eastlake Ave E & E Allison St                                             18.0
Fred Hutchinson Cancer Research Center / Fairview Ave N & Ward St         16.0
Frye Art Museum / Terry Ave & Columbia St                                  0.0
Harvard Ave & E Pine St                                                   16.0
Key Arena / 1st Ave N & Harrison St                                       16.0
King Street Station Plaza / 2nd Ave Extension S & S Jackson St            18.0
Lake Union Park / Valley St & Boren Ave N                                 16.0
Mercer St & 9th Ave N                                                     20.0
NE 42nd St & University Way NE                                            18.0
NE 47th St & 12th Ave NE                                                  16.0
NE Pacific St/UW Medical Center                                           16.0
Occidental Park / Occidental Ave S & S Washington St                      18.0
PATH / 9th Ave & Westlake Ave                                             18.0
Pier 66 / Alaskan Way & Bell St                                           18.0
Pier 69 / Alaskan Way & Clay St                                           24.0
Pine St & 9th Ave                                                         20.0
REI / Yale Ave N & John St                                                20.0
Republican St & Westlake Ave N                                            18.0
Seattle Aquarium / Alaskan Way S & Elliott Bay Trail                      18.0
Seattle University / E Columbia St & 12th Ave                             20.0
Summit Ave & E Denny Way                                                  16.0
Summit Ave E & E Republican St                                            16.0
Terry Ave & Stewart St                                                    20.0
Thomas St & 5th Ave N                                                     18.0
UW Engineering Library / E Stevens Way NE & Jefferson Rd                  14.0
UW Intramural Activities Building                                         14.0
UW Magnuson Health Sciences Center Rotunda / Columbia Rd & San Juan Rd    16.0
UW McCarty Hall / Whitman Ct                                               0.0
Union St & 4th Ave                                                        18.0
Westlake Ave & 6th Ave                                                    20.0
Name: current_dockcount, dtype: float64

5.When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [15]:
modified=station_df[['install_dockcount' ,'current_dockcount','modification_date']].dropna() ##to remove the NaN
modified_lessAndmore=modified.mean()
modified_lessAndmore[1]

/tmp/ipykernel_521/2347403205.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  modified_lessAndmore=modified.mean()

13.764705882352942

6.Come up with 3 more questions that can be answered with this data set

What is the max temperature in year 2014?

What is the bike station that recorded the minimum trip travel? what is the record date ?


What is the bike station with highest number of bikes?

In [17]:

def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(avg_trip_duration, 1178.2956753399776 )
    assert_equal(common_age[0], 34.0)

    print("Success!!!")

test()

Success!!!